# Ignore virtual environments
.venv/

# Ignore Python cache files
_pycache_/
*.py[cod]

# Ignore Django migration files (optional)
/migrations/.py
!*/migrations/_init_.py

# Ignore database and local settings
db.sqlite3
.env

# Ignore IDE/editor folders
.vscode/
.idea/

# Ignore OS system files
.DS_Store
Thumbs.db